<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SGCC Dashboard</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">

    <link rel="stylesheet" href="../static/assets/styles.css"/>
</head>

<body>
<div id="wrapper">

    <div class="content-area">
        <div class="container-fluid">
            <div>
                <h1 class="text-center">电力使用统计</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="residentSelector">户号</label>
                    <select class="form-control" id="residentSelector">
                        <option value="">选择户号</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="dateRange">日期</label>
                    <input type="text" class="form-control" id="dateRange">
                </div>

                <div class="col-md-4">
                    <label for="queryButton">查询</label>
                    <button id="queryButton" class="btn btn-primary btn-block">查询</button>
                </div>
            </div>
            <div class="main">
                <div class="row sparkboxes mt-4 mb-4">
                    <div class="col-md-12">
                        <label>近期用电统计</label>
                        <div class="box box1">
                            <div id="latestBalanceSparkline"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-4">
                    <div class="col-md-12">
                        <label>月度统计趋势</label>
                        <div class="box box1">
                            <div id="monthlyUsageChartOption"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="../static/assets/scripts.js"></script>

<script></script>
</body>
</html>
