<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chart Example</title>
    <!-- 引入Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 引入外部 JavaScript 文件 -->
    <script src="static/js/charts.js" defer></script>
</head>
<body>
    <h1>SGCC Statistics</h1>
    <!-- filters -->
    <div>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date">
        <button onclick="updateCharts()">Update Charts</button>
    </div>
    <!-- 图表 1: 当前余额 -->
    <h2>Balance Chart</h2>
    <canvas id="balanceChart"></canvas>

    <!-- 图表 2: 用量历史 -->
    <h2>Usage History Chart</h2>
    <canvas id="usageChart"></canvas>


</body>
</html>
